<html>
<head>
<title>双功能支付接口</title>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<script>
</script>
</head>

<body>
<center>支付宝双功能接口，测试订单</center>

<form action ="http://192.168.1.199:8000/dual/submit" method ="post"><br />
订单号: <input type="text" name="out_trade_no" value="201405212238" /><br />
订单名称：<input type="text" name="subject" value="订单商品-1" /><br />
付款金额：<input type="text" name="price" value="0.01" /><br />
商品数量：<input type="text" name="quantity" value="1" /><br />

物流费用：<input type="text" name="logistics_fee" value="0.00" /><br />
物流类型：<input type="text" name="logistics_type" value="EXPRESS" /><br />
物流支付方式：<input type="text" name="logistics_payment" value="SELLER_PAY" /><br />

订单描述：<input type="text" name="body" value="测试 Django 网站的支付宝双功能接口" /><br />
商品展示地址：<input type="text" name="show_url" value="http://www.xxx.com/shangpin" /><br />

收货人姓名：<input type="text" name="receive_name" value="张三" /><br />
收货人地址：<input type="text" name="receive_address" value="XX省XXX市XXX区XXX路XXX小区XXX栋XXX单元XXX号" /><br />
收货人邮编：<input type="text" name="receive_zip" value="123456" /><br />
收货人电话号码：<input type="text" name="receive_phone" value="0571-88158090" /><br />
收货人手机号码：<input type="text" name="receive_mobile" value="13312341234" /><br />

<input type ="submit" value="提交订单" />
</form>

</body>
</html>
